/hbo.bin
/__pycache__/*
/UD_Ancient_Hebrew-PTNK/
*.png
/*.conllu
/temp/*
/data/filter/*
/data/incomplete/*
/ml/*
*.marshal
*.json
*.tsv
/dev/*
*.tar.gz
*.req
*.bin
index.html
!/data/manual-arcs/*.tsv
