/hbo.bin
/__pycache__/*
*/__pycache__/*
/UD_Ancient_Hebrew-PTNK/
*.png
/*.conllu
/temp/*
/data/filter/*
/data/incomplete/*
/ml/*
*.marshal
*.json
*.tsv
/dev/*
*.tar.gz
*.req
*.bin
*.html
!tree-diff.html
!/data/manual-arcs/*.tsv
!/data/manual-heads/*.tsv
!books.tsv
/to_check/*
/venv/*
