<html>
  <head>
    <title>Diff {{book_id}} {{sent}}</title>
    <style>
      td { text-align: center; }
      div.sentence {
	  width: 100%;
	  overflow-x: scroll;
      }
    </style>
  </head>
  <body>
    <form action="accept" method="POST">
      <button type="submit">Accept</button>
    </form>
    <div class="sentence" data-sent="{{tree}}"></div>
    <details>
      <summary>Final CG</summary>
      <pre>{{cg}}</pre>
    </details>
    <details>
      <summary>Initial CG</summary>
      <pre>{{raw}}</pre>
    </details>
    <details>
      <summary>Test Overrides</summary>
      <form method="POST">
        <textarea name="rules">{{rules}}</textarea>
        <button type="submit">Run</button>
      </form>
      <pre>
        {{diff|safe}}
      </pre>
    <script type="text/javascript" src="/static/tree-diff.js"></script>
  </body>
</html>
